name: Validate JSON

on:
  pull_request:
    paths:
      - 'data/**/*.json'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Look for changed json files
        id: changed-files
        uses: tj-actions/changed-files@47.0.2
        with:
          files: data/*/*.json